# Dynamic files
device-policy.json
deployment.json

# Greengrass Development Kit
greengrass-build/
zip-build/
custom-build/

# greengrass-batch-uploader
greengrass-batch-uploader/aws-greengrass-s3-ingestor
